a:hover {
	
	color: #DC143C;
	text-shadow: 2px 0 0 orange, -2px 0 0 orange, 0 2px 0 orange, 0 -2px 0 orange, 2px 2px orange, -2px -2px 0 orange, 2px -2px 0 orange, -2px 2px 0 orange;
	letter-spacing: 3px;
	background-color: orange;
	padding:5px;	
	animation: blink 1.5s infinite
}
@keyframes blink {
	50% {
		opacity: .6;
	}
}
a:visited {
    color: #c25a2e ;
}
a{color:white; text-decoration: none;}
#logo { float:right; padding-top: 50px; padding-right: 100px; height: auto;   width: 10%;} 
.tags { margin-bottom: 10px; }
.results { clear:both; padding-top: 200px; }
.tag { float:left; margin-right: 40px; padding:5px; margin-bottom: 3px; }
.tag:hover {
	color: #DC143C;
	text-shadow: 2px 0 0 orange, -2px 0 0 orange, 0 2px 0 orange, 0 -2px 0 orange, 2px 2px orange, -2px -2px 0 orange, 2px -2px 0 orange, -2px 2px 0 orange;
	background-color: orange;
	padding:5px;	
}
.tag.active { 

	color: #DC143C;
	text-shadow: 2px 0 0 orange, -2px 0 0 orange, 0 2px 0 orange, 0 -2px 0 orange, 2px 2px orange, -2px -2px 0 orange, 2px -2px 0 orange, -2px 2px 0 orange;
	letter-spacing: 3px;
	background-color: orange;
	padding:5px;
}
html {
	background-color: rgb(23,55,94) /*{a-body-background-color}*/;
	border-color: #dddddd /*{a-body-border}*/;
	color: #ffffff /*{a-body-color}*/;
	text-shadow: 1px /*{a-body-shadow-x}*/ 2px /*{a-body-shadow-y}*/  /*{a-body-shadow-radius}*/ #000000 /*{a-body-shadow-color}*/;
	
	font-size: 1.7em;
	font-weight: bold;
	line-height: 1.3;
	font-family: 'Nunito', sans-serif;
}
#tf {
	width: 100%;
	height: 200px;
	/*border: solid 1px yellow;*/
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgb(23,55,94) ; 
	border-bottom: solid 2px white;
}
